@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index of category</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
                </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">@obj.Id</td>
                <td width="50%">@obj.Name</td>
            </tr>
        }
    </tbody>
</table>
